        body {
            font-family: 'Oswald', sans-serif;
            font-weight: 200;
            margin: 0px;
            padding: 0;
            font-size: pt;
            background-color: #2F4F4F;
            color: white;
        }
        
        header {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            height: 240px;
            background-image: url("../imgs/image10.png");
            grid-column: 1 /-1;
            grid-row: 1 / auto;
            margin-bottom: 30px;
        }
        
        h1 {
            font-size: 2em;
            text-align: center;
            line-height: 2;
        }
        
        h2 {
            font-size: 1.5em;
            text-align: center;
            padding: 5px;
        }
        
        p {
            padding: 0 30px;
            font-size: 1.25em;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
        
        .intro {
            font-size: 1.5em;
        }
        
        a.skip {
            background: white;
            left: 0;
            padding: 6px;
            position: absolute;
            top: -50px;
            -webkit-transition: top 1s ease-out;
            transition: top 1s ease-out;
            z-index: 1;
        }
        
        a.skip:focus {
            top: 20px;
            color: black;
            text-decoration-style: solid;
        }
        
        *:focus {
            border: 2px solid black;
        }
        
        footer {
            background-color: black;
            color: white;
            padding: 30px;
            text-align: center;
        }
        
        caption {
            font-weight: 400;
            margin-bottom: 20px;
            font-size: 22px;
        }
        
        .gallery {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 5px;
            justify-content: center;
        }
        
        #images:hover {
            animation: wiggle 0.5s;
            animation-direction: alternate;
            animation-iteration-count: 1;
        }
        
        .gallery>img {
            border: 8px #C0C0C0 outset;
            margin: 10px;
            width: 300px;
        }
        
        table {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        
        tbody {
            font-family: 'Roboto', sans-serif;
        }
        
        .colhead {
            background-color: #383838;
            color: #FFFFFF;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        
        .rowhead {
            vertical-align: middle;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        
        td {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            padding-left: 10px;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
        
        tr:nth-child(even) {
            background-color: #ecf3f3;
            text-overflow: ellipsis;
            word-wrap: break-word;
            color: #000000;
        }
        
        tr:nth-child(odd) {
            background-color: #ecf3f3;
            text-overflow: ellipsis;
            word-wrap: break-word;
            color: #000000;
        }
        
        *:focus {
            border: 3px dashed white;
        }
        
        thead tr:first-child th:first-child {
            border-top-left-radius: 10px;
        }
        
        tbody tr:last-child th {
            border-bottom-left-radius: 10px;
        }
        
        thead tr:first-child th:last-child {
            border-top-right-radius: 10px;
        }
        
        tbody tr:last-child td:last-child {
            border-bottom-right-radius: 10px;
        }
        
        #current {
            color: #FFD300;
            text-decoration: underline;
        }
        
        nav {
            list-style-type: none;
            display: grid;
            justify-content: center;
            text-align: center;
            padding: 10px;
            background-color: #2F4F4F;
        }
        
        a {
            color: white;
            text-decoration: none;
            font-weight: 400;
        }
        
        a:hover {
            color: #FFD300;
        }
        
        .flipcard {
            background-color: transparent;
            width: 200px;
            height: 200px;
            border: 2px solid #f1f1f1;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            perspective: 1000px;
            animation: bounce 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            animation-iteration-count: infinite;
        }
        /* Credits note: I used W3 Schools to figure out how to do flip card, so I want to acknowledge that I am borrowing parts of their code.
See website here: https://www.w3schools.com/howto/howto_css_flip_card.asp */
        
        .flipcard-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        
        .flipcard:hover .flipcard-inner {
            transform: rotateY(180deg);
        }
        
        .flipcard-front,
        .flipcard-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .flipcard-front {
            background-color: #bbb;
            color: black;
        }
        
        .flipcard-back {
            background-color: #000000;
            color: white;
            transform: rotateY(180deg);
            font-weight: 200;
        }
        
        .flipcard:focus-within .flipcard-inner {
            transform: rotateY(180deg);
        }
        
        .linkedin {
            padding-top: 20px;
        }
        
        #fliptext {
            font-weight: 200;
        }
        
        #individualrow:hover {
            opacity: 90%;
            background-color: #FFD300;
            font-size: 1.25em;
            font-weight: 400;
        }
        
        @keyframes bounce {
            from {
                transform: translate3d(0, 0, 0);
            }
            to {
                transform: translate3d(0, 10px, 0);
            }
        }
        
        @keyframes wiggle {
            10% {
                transform: translate3d(-5px, -1px, 0);
            }
        }
        
        .formfont {
            font-family: 'Roboto', sans-serif;
        }
        
        @media (min-width: 768px) and (max-width: 1024px) {
            nav {
                grid-template-columns: repeat(4, 150px);
                grid-gap: 15px;
                justify-items: center;
            }
            table {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            th.colhead {
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            header {
                height: 160px;
            }
            #individualrow {
                opacity: 90%
            }
            #individualrow:hover {
                opacity: 90%;
                background-color: #FFD300;
                font-size: 1.25em;
                font-weight: 400;
            }
        }
        
        @media (min-width: 1025px) and (max-width: 1550px) {
            nav {
                grid-template-columns: 1fr repeat(3, 130px);
            }
            .fullwidth {
                grid-column: 1/2;
                justify-self: start;
                align-items: left;
            }
            table {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            th.colhead {
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            #individualrow:hover {
                opacity: 90%;
                background-color: #FFD300;
                font-size: 1.25em;
                font-weight: 400;
            }
            header {
                height: 170px;
            }
        }
        
        @media screen and (prefers-reduced-motion: reduce) {
            .flipcard {
                animation: none;
            }
        }